@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image:  url('/public/images/doctordesk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.personalinfo {
  width: 80%;
  height: 200px;
  padding: 15px;
  background-color: #f0f0f0;
  margin: 15px;
}

.aboutmd {
  width: 80%;
  height: 300px;
  padding: 30px;
  background-color: #f0f0f0;
  margin: 30px;
}

.alldivs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linksdiv {
  background-color: darkgray;
}